@font-face {
  font-family: 'Cerotta';
  src: url('./CerottaPersonalUseOnly-0vW5d.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kaobe';
  src: url('./KaobePersonalUseOnly-axZBm.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
